boto3==1.18.40
pytest==7.4.0
aws_lambda_powertools==1.31.0
coverage==7.2.7
fastjsonschema~=2.15.1
moto[sqs]==4.2.13

## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.7
flake8==6.1.0
black==22.3.0
isort==5.12.0
