boto3==1.28.76
pytest==7.4.0
aws_lambda_powertools==3.2.0
coverage==7.2.7
fastjsonschema~=2.15.1
moto[sqs]==4.2.13

## Additional validation libraries
## ---------------------------------------------------------------------------
 bandit==1.8.2
flake8==7.0.0
black==24.10.0
isort==5.13.2
gitpython==3.1.41
