prefix                   = "my_prefix"
ngap_sgs                 = ["sg-12345"]
profile                  = "my-great-profile"
buckets                  = {
  "private"={name="twelve", type="private"},
  "glacier"={name="thirteen", type="glacier"}
}
permissions_boundary_arn = "arn:aws:iam::12345:policy/myGreatBoundary"
database_port            = "5432"
database_name            = "disaster_recovery"
database_app_user        = "druser"
database_app_user_pw     = "my_app-user-pw"
ddl_dir                  = "ddl/"
drop_database            = "False"
platform                 = "AWS"
workflow_config          = {}
restore_complete_filter_prefix = ""
