tasks/extract_filepaths_for_granule/.coverage
tasks/extract_filepaths_for_granule/.idea
tasks/extract_filepaths_for_granule/__pycache__
tasks/extract_filepaths_for_granule/test/__pycache__/
tasks/extract_filepaths_for_granule/build/
tasks/request_files/.coverage
tasks/request_files/.idea
tasks/request_files/__pycache__
tasks/request_files/test/__pycache__
tasks/request_files/dev_test/__pycache__
tasks/request_files/dev_test/request_helpers.py
tasks/request_files/dev_test/copy_helpers.py
tasks/request_files/utils/__pycache__
tasks/request_files/build_rf
tasks/request_files/build_rs
tasks/request_files/build_cp
tasks/db_deploy/utils/__pycache__
tasks/db_deploy/__pycache__
tasks/db_deploy/.coverage
tasks/db_deploy/.idea
tasks/db_deploy/test/__pycache__
tasks/db_deploy/build_db
tasks/.idea/
tasks/dr_copy_files_to_archive/.coverage
tasks/dr_copy_files_to_archive/.idea
tasks/dr_copy_files_to_archive/__pycache__
tasks/dr_copy_files_to_archive/test/__pycache__
tasks/dr_copy_files_to_archive/build/
tasks/package/
terraform\.tfvars
\.terraform/
*.zip
terraform\.tfstate*
terraform.tf
venv/
