ngap_subnet              = "subnet-12345"
ngap_sgs                 =  ["sg-12345"]
profile                  = "my-great-profile"
glacier_bucket           = "my-great-glacier-bucket"
public_bucket            = "my-great-public-bucket"
private_bucket           = "my-great-private-bucket"
internal_bucket          = "my-great-internal-bucket"
protected_bucket         = "my-great-protected-bucket"
permissions_boundary_arn = "arn:aws:iam::12345:policy/myGreatBoundary"