## =============================================================================
## CUMULUS Variables currently in terraform.tfvars
## =============================================================================
## Variables obtained by Cumulus deployment
## Should exist in https://github.com/nasa/cumulus-template-deploy/blob/master/cumulus-tf/variables.tf
## REQUIRED to be set in your cumulus-tf/terraform.tfvars file

# buckets - Bucket map that includes buckets of type "orca".
# lambda_subnet_ids - Subnet IDs where the ORCA resources reside.
# permissions_boundary_arn - AWS ARN for the permission boundary.
# prefix - Deployment prefix used to uniquely name resources.
# system_bucket - S3 bucket designated as the system bucket.
# vpc_id - AWS ID of the VPC being deployed to.
# workflow_config - Cumulus workflow object deployment ARN information

## OPTIONAL Cumulus variables that can be set in your cumulus-tf/terraform.tfvars file.
## ORCA default settings shown.

# tags   = {}


## =============================================================================
## ORCA Variables
## =============================================================================

## REQUIRED TO BE SET
## -----------------------------------------------------------------------------

## ORCA application database user password.
database_app_user_pw = 

## Default ORCA S3 Glacier bucket to use
orca_default_bucket = 

## PostgreSQL database (root) user password
postgres_user_pw =


## OPTIONAL VARIABLES - ORCA default settings shown.
## -----------------------------------------------------------------------------

## Database port that PostgreSQL traffic will be allowed on.
# database_port = 5432

## Amount of memory in MB the ORCA copy_to_glacier lambda can use at runtime.
# orca_ingest_lambda_memory_size = 2240

## Timeout in number of seconds for ORCA copy_to_glacier lambda.
# orca_ingest_lambda_timeout = 600

## List of bucket names that ORCA has permissions to restore data to.
# orca_recovery_buckets = []

## Specifies object key name prefix by the Glacier Bucket trigger.
# orca_recovery_complete_filter_prefix = ""

## Number of days a recovered file will remain available for copy.
# orca_recovery_expiration_days = 5

## Amount of memory in MB the ORCA recovery lambda can use at runtime.
# orca_recovery_lambda_memory_size = 128

## Timeout in number of seconds for ORCA recovery lambdas.
# orca_recovery_lambda_timeout = 300

## Maximum number of retries of a recovery failure before giving up.
# orca_recovery_retry_limit = 3

## Number of seconds to wait between recovery failure retries.
# orca_recovery_retry_interval = 1


## OPTIONAL (DO NOT CHANGE!) - Development use only
## These variables should not be advertised to external users.
## -----------------------------------------------------------------------------

## Name of the database application user.
# database_app_user = "druser"

## Name of the ORCA database in PostgreSQL"
# database_name = "disaster_recovery"

## Location of database DDL SQL files. Must have trailing /.
# ddl_dir = "ddl/"

## Boolean True/False that indicates the ORCA database should be dropped.
# drop_database = "False"

## AWS glacier recovery type to use. One of Bulk, Standard, Express.
# orca_recovery_retrieval_type = "Standard"

## String that determines deployment platform. AWS or local.
# platform = "AWS"

