## Libraries needed for testing
coverage==7.2.7
pytest==7.4.0

## Application libraries needed for testing
psycopg2-binary==2.9.9

## Application libraries
../../shared_libraries[database]
aws_lambda_powertools==3.2.0
boto3==1.28.76

## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.9
flake8==7.0.0
black==24.10.0
isort==5.13.2
