resource "aws_s3_bucket" "internal" {
  bucket = "PREFIX-internal"
  force_destroy = true
  tags = {
    Deployment = "PREFIX"
    Application = "ORCA"
  }
}
resource "aws_s3_bucket" "public" {
  bucket = "PREFIX-public"
  force_destroy = true
  tags = {
    Deployment = "PREFIX"
    Application = "ORCA"
  }
}
resource "aws_s3_bucket" "private" {
  bucket = "PREFIX-private"
  force_destroy = true
  tags = {
    Deployment = "PREFIX"
    Application = "ORCA"
  }
}
resource "aws_s3_bucket" "level0" {
  bucket = "PREFIX-level0"
  force_destroy = true
  tags = {
    Deployment = "PREFIX"
    Application = "ORCA"
  }
}
resource "aws_s3_bucket" "protected" {
  bucket = "PREFIX-protected"
  force_destroy = true
  tags = {
    Deployment = "PREFIX"
    Application = "ORCA"
  }
}