boto3==1.28.76
pytest==7.4.0
coverage==7.2.7
moto[sqs,s3]==4.2.13
fastjsonschema==2.15.0
aws_lambda_powertools==3.2.0
../../shared_libraries[recovery]

## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.9
flake8==7.0.0
black==24.10.0
isort==5.13.2
