## Libraries needed for testing
coverage==5.3
pytest==6.1.2

## Libraries needed for application testing
fastjsonschema==2.15.0
psycopg2-binary==2.8.6

## Libraries needed by the application
boto3~=1.18.40
../../shared_libraries[recovery]
