## Libraries needed for testing
coverage==7.2.7
pytest==7.4.0

## Application libraries
boto3~=1.18.65
requests~=2.28.1

## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.6
flake8==6.1.0
black==22.3.0
isort==5.12.0
