## Library used for API documentation
## ---------------------------------------------------------------------------
pydoc-markdown>=4.0.0,<5.0.0


## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.0
safety==2.3.1
flake8==4.0.1
black==21.12b0
isort==5.10.1


## Libraries needed for unit tests
## ---------------------------------------------------------------------------

## Libraries used by every package/module
pytest==6.2.5
coverage==6.2

## Libraries used by database package
psycopg2-binary==2.9.2

## Libraries used by recovery package
moto[sqs]==2.0.6

## Libraries used by reconciliation package
# None

## Libraries needed by packages to run
## ---------------------------------------------------------------------------

## Libraries used by every package/module
aws_lambda_powertools==1.31.0

## Libraries used by database package
boto3~=1.18.40
SQLAlchemy==1.4.11

## Libraries used by recovery package
# boto3~=1.18.40

## Libraries used by reconciliation package
# SQLAlchemy==1.4.11
