## Library used for API documentation
## ---------------------------------------------------------------------------
pydoc-markdown>=4.0.0,<5.0.0


## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.9
flake8==7.0.0
black==24.10.0
isort==5.13.2


## Libraries needed for unit tests
## ---------------------------------------------------------------------------

## Libraries used by every package/module
pytest==7.4.0
coverage==7.2.7

## Libraries used by database package
psycopg2-binary==2.9.9

## Libraries used by recovery package
moto[sqs]==4.2.13

## Libraries used by reconciliation package
# None

## Libraries needed by packages to run
## ---------------------------------------------------------------------------

## Libraries used by every package/module
aws_lambda_powertools==3.2.0

## Libraries used by database package
boto3~=1.28.76
SQLAlchemy~=2.0.5

## Libraries used by recovery package
# boto3~=1.18.40

## Libraries used by reconciliation package
# SQLAlchemy~=2.0.5
