aws-lambda-powertools==1.31.1
pytest==6.1.2
coverage==5.3
fastjsonschema==2.15.0

## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.0
flake8==4.0.1
black==21.12b0
isort==5.10.1
