aws-lambda-powertools==3.2.0
pytest==7.4.0
coverage==7.2.7
fastjsonschema==2.15.0

## Additional validation libraries
## ---------------------------------------------------------------------------
 bandit==1.8.2
flake8==7.0.0
black==24.10.0
isort==5.13.2
