aws_lambda_powertools==1.31.0
SQLAlchemy~=2.0.5
fastjsonschema==2.15.0
../../shared_libraries[database]
pytest==7.4.0
coverage==7.2.7

## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.5
flake8==6.1.0
black==22.3.0
isort==5.12.0
