## Libraries needed for testing
coverage==5.3
pytest==6.1.2

## Application libraries needed for testing
psycopg2-binary==2.8.6

## Application libraries
cumulus-message-adapter-python==2.0.1
fastjsonschema~=2.15.1
../../shared_libraries[database, reconciliation]

## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.0
safety==1.10.3
flake8==4.0.1
black==21.12b0
isort==5.10.1
