## Testing libraries
coverage==7.2.7
pytest==7.4.0

## Libraries needed for testing the application
boto3==1.28.76
moto[sqs]==4.2.13
psycopg2-binary==2.9.9

## Application libraries
aws_lambda_powertools==3.2.0
SQLAlchemy~=2.0.5
../../shared_libraries[all]

## Additional validation libraries
## ---------------------------------------------------------------------------
 bandit==1.8.2
flake8==7.0.0
black==24.10.0
isort==5.13.2
