## Testing libraries
coverage==7.2.7
pytest==7.4.0

## Libraries needed for testing the application
boto3==1.18.40
moto[sqs]==4.2.13
psycopg2-binary==2.8.6

## Application libraries
aws_lambda_powertools==1.31.0
SQLAlchemy~=2.0.5
../../shared_libraries[all]

## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.6
flake8==6.1.0
black==22.3.0
isort==5.12.0
