## Library used for API documentation
## ---------------------------------------------------------------------------
pydoc-markdown==4.5.0


## Additional validation libraries
## ---------------------------------------------------------------------------
bandit==1.7.9
flake8==6.1.0
black==22.3.0
isort==5.12.0


## Standard unit test libraries
## ---------------------------------------------------------------------------
pytest==7.4.0
coverage==7.2.7


## Libraries needed for unit tests
## ---------------------------------------------------------------------------
psycopg2-binary==2.9.9


## Libraries needed by application
## ---------------------------------------------------------------------------
aws_lambda_powertools==3.2.0
SQLAlchemy~=2.0.5
../../shared_libraries[database, reconciliation]
